<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @libro.codigo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @libro.nombre %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @libro.autor %>
</p>

<%= link_to 'Edit', edit_libro_path(@libro) %> |
<%= link_to 'Back', libros_path %>
