<%= form_with(model: cliente, local: true) do |form| %>
  <% if cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

      <ul>
        <% cliente.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombres %>
    <%= form.text_field :nombres %>
  </div>

  <div class="field">
    <%= form.label :apellidos %>
    <%= form.text_field :apellidos %>
  </div>

  <div class="field">
    <%= form.label :numeroDocumento %>
    <%= form.number_field :numeroDocumento %>
  </div>

  <div class="field">
    <%= form.label :correoElectronico %>
    <%= form.text_field :correoElectronico %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
