<p id="notice"><%= notice %></p>

<p>
  <strong>Nombres:</strong>
  <%= @cliente.nombres %>
</p>

<p>
  <strong>Apellidos:</strong>
  <%= @cliente.apellidos %>
</p>

<p>
  <strong>Numerodocumento:</strong>
  <%= @cliente.numeroDocumento %>
</p>

<p>
  <strong>Correoelectronico:</strong>
  <%= @cliente.correoElectronico %>
</p>

<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>
