<p id="notice"><%= notice %></p>

<h1>Prestamos</h1>

<table>
  <thead>
    <tr>
      <th>Nombrecliente</th>
      <th>Nombrelibro</th>
      <th>Nombreautor</th>
      <th>Fechaprestamo</th>
      <th>Fechadevolucion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prestamos.each do |prestamo| %>
      <tr>
        <td><%= prestamo.nombreCliente %></td>
        <td><%= prestamo.nombreLibro %></td>
        <td><%= prestamo.nombreAutor %></td>
        <td><%= prestamo.fechaPrestamo %></td>
        <td><%= prestamo.fechaDevolucion %></td>
        <td><%= link_to 'Show', prestamo %></td>
        <td><%= link_to 'Edit', edit_prestamo_path(prestamo) %></td>
        <td><%= link_to 'Destroy', prestamo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prestamo', new_prestamo_path %>
